
# Server Settings
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
UVICORN_WORKERS=1
UVICORN_LIMIT_CONCURRENCY=100
UVICORN_TIMEOUT_GRACEFUL_SHUTDOWN=10

# Cache Settings
CACHE_USERNAME=null
CACHE_PASSWORD=null
CACHE_HOST="localhost"
CACHE_PORT=6379
CACHE_DB=0

# Database Settings
DATABASE_USERNAME="user"
DATABASE_PASSWORD="password"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="database"

# Log Settings

# Metrics Settings

# Trace Settings
